<div id="spacer"></div>
<div id="logout-modal" class="modal">
	<div class="modal-content slide-down">
		<span class="close">&times;</span>
		<a href="/logout">Logout</a>
	</div>
</div>
<div class="entire-menu">
	<div class="menu">
		<div id="toggle-menu">
			<button class="toggle-icon-container" onclick="toggleEntireMenu()">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
			</button>
		</div>
		<div class="menu-item">
			<div class="menu-container" id="home-menu">
				<div class="menu-tag-container">
					<div class="menu-tag-content">Home</div>
				</div>
				<div class="menu-content">
					<a href="/">home</a>
				</div>
			</div>
		</div>
		<div class="menu-item">
			<div class="menu-container" id="account-menu">
				<div class="menu-tag-container">
					<div class="menu-tag-content">
						<%= session.user ? name : "logged out" %>
					</div>
				</div>
				<div class="menu-content">
					<% if (session.user) {%>
					<a href="/guilds/<%= guild.name.replace(/ /g, '_') %>/members/<%= name.replace(/ /g, '_') %>">My Profile</a>
					<a href="/guilds/<%= guild.name.replace(/ /g, '_') %>">My Group</a>
					<span class="important-link logout-modal">Log Out</span>
					<% } else { %>
					<a href="/login">login</a>
					<a href="/join">join</a>
					<%}%>
				</div>
			</div>
		</div>
		<div class="menu-item">
			<div class="menu-container" id="help-menu">
				<div class="menu-tag-container">
					<div class="menu-tag-content">
						Help
					</div>
				</div>
				<div class="menu-content">
					<a href="/help">FAQ</a>
					<a href="/help#contact">contact</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-wipe">
	<div class="loader-container">
		loading
	</div>
</div>