<% if (session.user) {%>
<div id="logout-modal" class="modal">
	<div class="modal-content slide-down">
		<span class="close">&times;</span>
		<a href="/logout">Logout</a>
	</div>
</div>
<% } %>
<div class="entire-menu">
	<div class="menu">
		<div id="toggle-menu">
			<button class="toggle-icon-container" onclick="toggleEntireMenu()">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
			</button>
		</div>
		<div class="menu-item">
			<div class="menu-container" id="home-menu">
				<div class="menu-tag-container">
					<div class="menu-tag-content">Home</div>
				</div>
				<div class="menu-content">
					<a href="/">Home</a>
				</div>
			</div>
		</div>
		<div class="menu-item">
			<div class="menu-container" id="account-menu">
				<div class="menu-tag-container">
					<div class="menu-tag-content">
						<%= session.user ? member.displayName : "logged out" %>
					</div>
				</div>
				<div class="menu-content">
					<% if (session.user) {%>
					<a href="/me">My Account</a>
					<a href="/guilds/<%= encodeURIComponent(member.guild.name).replace(/%20/g, '_') %>/members/<%= encodeURIComponent(member.displayName).replace(/%20/g, '_') %>">My Profile</a>
					<span class="important-link logout-modal">Log Out</span>
					<% } else { %>
					<a href="/login">Login</a>
					<a href="/join">Join a Group</a>
					<%}%>
				</div>
			</div>
		</div>
		<div class="menu-item">
			<div class="menu-container" id="help-menu">
				<div class="menu-tag-container">
					<div class="menu-tag-content">
						Help
					</div>
				</div>
				<div class="menu-content">
					<a href="/help">FAQ</a>
					<a href="/help/bot">Bot Help</a>
					<a href="/help#contact">Contact</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="spacer"></div>
<div class="page-wipe">
	<div class="loader-container">
		loading
	</div>
</div>