form, .lookup {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0.7em;
  background-color: gainsboro;
  color: darkslategray;
  margin: 1em;
  border-radius: 0.3em;
  grid-row-gap: 0.5em;
}

input {
  height: 2em;
  border: 2px solid azure;
}

select {
  height: 2em;
  border: 2px solid azure;
  border-radius: 2px;
  background-color: white;
}

:focus {
  outline: none;
}

select:active, input:active {
  border: 2px solid gray !important;
}

select:focus, input:focus {
  border: 2px solid #569da08e;
}

.error {
  color: red;
  font-size: small;
  display: block;
}

@media (max-width: 600px) {
  .lookup {
    grid-template-columns: 1fr;
  }
}

tbody {
  background-color: azure;
}
