form, .lookup {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0.7em;
  background-color: gainsboro;
  color: darkslategray;
  margin: 1em;
  border-radius: 0.3em;
  grid-row-gap: 0.5em;
}

input {
  height: min-content;
}

select {
  border-radius: 1px;
}

select:focus, input:focus {
  border: 2px solid #569da08e
}

.error {
  color: red;
  font-size: small;
  display: block;
}

@media (max-width: 500px) {
  form {
    grid-template-columns: 1fr;
    width: 75vw;
  }

  form label {
    text-align: center;
  }

  tbody {
    width: 75vw;
  }
}

tbody {
  background-color: azure;
}
