body {
  background-color: cadetblue;
  display: grid;
  text-align: center;
  font-family: Avenir;
  grid-template-areas: "head menu""content menu";
  margin: 0;
  grid-template-columns: calc(100vw - 2em) 2em;
}

html, body {
  overflow-x: hidden;
}

.page-wipe {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: cornflowerblue;
  right: 0;
  transition: width;
}

.loader-container {
  font-size: 4em;
  color: white;
  position: fixed;
  margin: auto;
  overflow-x: hidden;
}

/* .loader-container {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s ease-out infinite;
} */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

::selection {
  background: cadetblue;
  color: beige
}

.header {
  background-color: darkcyan;
  grid-area: head;
  color: azure;
  font-size: larger;
  display: flex;
  align-items: center;
  box-sizing: content-box;
  justify-content: center;
  cursor: default;
  width: 100%;
  padding-right: 2em;
}

.header>h1 {
  right: 100vw;
  position: relative;
}

.slide-in {
  animation-name: slide-in;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  from {
    right: 100vw;
  }

  to {
    right: 0vw
  }
}

div.content {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 1em;
  margin: 1em;
  color: cadetblue;
}

.content {
  grid-area: content;
}

.post {
  background-color: beige;
  display: grid;
  position: relative;
}

.post>.title {
  grid-area: title;
  color: #246f72;
  font-size: 20px;
  padding: 1em;
}

.post>.message {
  grid-area: message;
}

.post>.author {
  grid-area: author;
}

.post {
  padding: 0.5em;
  grid-template-areas:
    "title"
    "author"
    "message"
    "foot";
}

.post>.title {
  padding-bottom: 0;
}

.post>.message {}

.post>.author {
  margin-bottom: 1em;
}

tr {
  height: 40px;
}

th, td {
  border: 1px solid black;
  width: 10%;
}

td {
  font-size: 12px;
}

.edit {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Simpleicons_Business_pencil-point.svg/2000px-Simpleicons_Business_pencil-point.svg.png");
  border: none;
  background-size: cover;
  width: 15px;
  height: 15px;
}

.invite {
  cursor: pointer;
}

.invite:hover {
  background-color: bisque;
}

.profilePic {
  border-radius: 50%;
  height: 3em;
}

#usernameContainer {
  display: inline-block;
}

.link, .important-link {
  cursor: pointer;
}

.content a, .content .link {
  text-decoration: none;
  color: cornflowerblue;
  display: inline;
}

.content a:hover, .content .link:hover {
  color: darkblue;
}

.content a:active {
  background-color: ivory;
}

.widget {
  width: 100%;
  height: 400px;
}
