body {
	background-color: cadetblue;
	text-align: center;
	font-family: Avenir;
	margin: 0;
}

html, body {
	overflow-x: hidden;
}

.page-wipe {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: cornflowerblue;
	right: 0;
	top: 0;
	transition: width;
	overflow-x: hidden;
}

.loader-container {
	font-size: 4em;
	color: white;
	position: fixed;
	margin: auto;
}

div.lookup {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1em;
    background-color: gainsboro;
	color: darkslategray;
	margin: 1em;
	border-radius: 0.3em;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

::selection {
	background: rgba(117, 25, 68, 0.2);
}

.header {
	background-color: darkcyan;
	color: azure;
	font-size: larger;
	display: flex;
	align-items: center;
	box-sizing: content-box;
	justify-content: center;
	cursor: default;
	width: 100%;
	padding-right: 2em;
}

.header>h1 {
	right: 100vw;
	position: relative;
}

.slide-in {
	animation-name: slide-in;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}

@keyframes slide-in {
	from {
		right: 100vw;
	}

	to {
		right: 0vw
	}
}

div.content {
	display: grid;
	grid-template-columns: 100%;
	grid-row-gap: 1em;
	margin: 1em;
	color: cadetblue;
	grid-template-rows: auto 1fr;
	min-height: 80vh;
}

.post {
	background-color: floralwhite;
	display: grid;
	position: relative;
	padding: 0.5em;
	grid-template-areas:
		"title"
		"author"
		"message"
		"foot";
}

#spacer {
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 20vh;
}

.post>.title {
	grid-area: title;
	color: #246f72;
	font-size: 20px;
	padding: 1em;
}

.post>.message {
	grid-area: message;
}

.post>.author {
	grid-area: author;
}

.post>.title {
	padding-bottom: 0;
}

/* .post>.message {} */

.post>.author {
	margin-bottom: 1em;
}

tr {
	height: 40px;
}

th, td {
	border: 1px solid black;
	width: 10%;
}

td {
	font-size: 12px;
}

.edit {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Simpleicons_Business_pencil-point.svg/2000px-Simpleicons_Business_pencil-point.svg.png");
	border: none;
	background-size: cover;
	width: 15px;
	height: 15px;
}

.invite {
	cursor: pointer;
}

.invite:hover {
	background-color: bisque;
}

.profilePic {
	border-radius: 50%;
	height: 3em;
}

#usernameContainer {
	display: inline-block;
}

.important-link {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: cornflowerblue;
	display: inline;
}

.content a:hover {
	color: darkblue;
}

.content a:active {
	background-color: ivory;
}

.widget {
	width: 100%;
	height: 400px;
}

::-webkit-scrollbar {
	display: none;
}
