<!DOCTYPE html>
<html>

<% title = 'Bot Help' %>
<% include ../partials/head %>

<body>
	<div class="header">
		<h1>Bot Help</h1>
	</div>
	<div class="content">
		<% for (const command of commands) { %>
			<div class="post" id="<%= command.name%>">
				<div class="title">
					<%= command.name%>
				</div>
				<div class="message lookup">
					<div>Usage</div>
					<div class="docs">
						<%- command.usage%>
					</div>
					<div>Instructions</div>
					<div class="docs">
						<%- command.instructions %>
					</div>
				</div>
			</div>
		<% } %>
	</div>
	<% include ../partials/menu %>
	<script src="/js/index.js"></script>
</body>

</html>