<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
	<title>Homework Master</title>
</head>

<body>
	<div class="header">
		<h1>Homework Master</h1>
	</div>
	<div class="content">
		<div class="post">
			<div class="title">Why is this site so terrible?</div>
			<div class="message">
				please <a href="#contact">contact me.</a>
			</div>
		</div>
		<div class="post">
			<div class="title">Why is this site so amazing?</div>
			<div class="message">
				<a href="#contact">why thank you.</a>
			</div>
		</div>
	</div>
	<% include ../partials/menu %>
	<script src="/js/index.js"></script>
</body>

</html>