<!DOCTYPE html>
<html lang="en">

<% title = guild.name%>
<% include ../partials/head %>

<body>
	<div class="header">
		<h1>
			<%= guild.name%>
		</h1>
	</div>
	<div class="content">
		<% include ../partials/widget %>
	</div>
	<% include ../partials/menu %>
	<script src="/js/index.js"></script>
</body>

</html>