<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
	<title>Help | Homework Master</title>
</head>

<body>
	<div class="header">
		<h1>Help</h1>
	</div>
	<div class="content">
		<div class="post" id="FAQ">
			<div class="title">Have a question?</div>
			<div class="message">
				<a class="no-swipe" href="#contact">Please contact me.</a>
			</div>
		</div>
		<div class="post" id="view-source">
			<div class="title">Want to see how it all works?</div>
			<div class="message">
				<a class="no-swipe" href="https://github.com/tristanbeedell/homework-master" target="_blank">Visit my github repository from here!</a>
			</div>
		</div>
		<div class="post" id="bot">
			<div class="title">Bot Help</div>
			<div class="message">
				<a href="/help/bot">help with the bot can be found here.</a>
			</div>
		</div>
		<div class="post" id="contact">
			<div class="title">Contact</div>
			<div class="author">Made by Tristan Beedell</div>
			<div class="message">
				<div class="lookup">
					<div>email</div>
					<div>admin@homework-master.co.uk</div>

					<div>discord</div>
					<div>tristan#4101</div>

					<div>instagram</div>
					<div>tristanbeedell</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../partials/menu %>
	<script src="/js/index.js"></script>
</body>

</html>