<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
	<title>Homework Master</title>
</head>

<body>
	<div class="header">
		<h1>Homework Master</h1>
	</div>
	<div class="content">
		<div class="post">
			<div class="title">Join Uplands year 11 now!</div>
			<div class="author">created by <a href="#">me</a></div>
			<div class="message">
				<div class="link" id="/join?choice=506096692102430720">join now</div>
			</div>
		</div>
	</div>
	<% include ../partials/menu %>
	<script src="/js/index.js"></script>
</body>

</html>