<!DOCTYPE html>
<html>

<% title = null %>
<% include ../partials/head %>

<body>
	<div class="header">
		<h1>Homework Master</h1>
	</div>
	<div class="content">
		<div class="post">
			<div class="title">Almost ready!</div>
			<div class="author">created by Tristan Beedell</div>
			<div class="message">
				<p>
					This website has been a lot of work, but still has a way to go. Feel free to tell me what you think of it so far. Any ideas and insights are welcome.
					<a href="/help#contact">contact me with any ideas</a>
				</p>
			</div>
		</div>
	</div>
	<% include ../partials/menu %>
	<script src="/js/index.js"></script>
</body>

</html>