<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
	<title>Join | Homework Master</title>
</head>

<body>
	<div class="header">
		<h1>Join a Group</h1>
	</div>
	<div class="content">
		<% include ../forms/join %>
	</div>
	<% include ../partials/menu %>
	<script src="/js/check.js"></script>
	<script src="/js/index.js"></script>
</body>

</html>