<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
	<title>
		<%= name%>'s Profile | Homework Master
	</title>
</head>

<body>
	<div class="header">
		<h1>
			<img src="<%= member.user.avatarURL %>" class="profilePic"></img>
			<div id="usernameContainer">
				<%= name%>
			</div>
		</h1>
	</div>
	<div class="content">
		<% if (session.user && session.user.name == nickname) { %>
		<div class="post">
			This is your profile
			<button class="important-link delete-account-modal">Delete This Account.</button>
		</div>
		<% } %>
	</div>
	<% include ../partials/menu %>
	<script src="/js/index.js"></script>
</body>

</html>