<!DOCTYPE html>
<html>

<% title = `${member.displayName+(member.displayName.slice(-1)=='s'?"'":"'s")} Profile`%>
<% include ../partials/head %>

<body>
	<% if (member.id == session.user.member_id) { %>
	THIS IS YOUR PROFILE. <a href="/me">Customise</a>
	<% } %>
	<div class="header">
		<h1>
			<img src="<%= member.user.avatarURL %>" class="profilePic"></img>
			<div id="usernameContainer">
				<%= member.displayName%>
			</div>
		</h1>
	</div>
	<div class="content">
		<div class="content">
			<div class="post">
				<div class="title">What should go here?</div>
				<div class="message">
					If you have any ideas, please tell me what you think I should put here.<br>
					<h4>My ideas:</h4>
					User Timetable<br>
					Achievements<br>
					A Bio<br>
					Custom colour
				</div>
			</div>
		</div>
	</div>
	<% include ../partials/menu %>
	<script src="/js/index.js"></script>
</body>

</html>