<!DOCTYPE html>
<html>

<% title = 'Sign Up'%>
<% include ../partials/head %>

<body>
	<div class="header">
		<h1>Sign Up</h1>
	</div>
	<div class="content">
		<% include ../forms/sign_up %>
	</div>
	<div class="page-wipe">
		<div class="loader-container">
			loading
		</div>
	</div>
	<script src="/js/check.js"></script>
	<script src="/js/create_table.js"></script>
	<script src="/js/index.js"></script>

</html>