<!DOCTYPE html>
<html>

<% title = 'My Timetable'%>
<% include ../partials/head %>

<body>
	<div class="header">
		<h1>Sign Up</h1>
	</div>
	<div class="content">
		<div class="post">
			<% include ../partials/timetable%>
		</div>
		<input class="important-link signup-modal accept-button" type="button" value="OK" style="grid-column: 1/-1;">
	</div>

	<div id="signup-modal" class="modal">
		<div class="signup-modal slide-down modal-content">
			<div>You are about to create your account.<br>
			Make sure your timetable matches. Please report any missing classes so they can be added.</div>
			<span class="close">&times;</span>
			<form method="POST" action="/timetable" id="timetable-form">
				<input type="submit" value="Continue" />
			</form>
		</div>
	</div>

	<div class="page-wipe">
		<div class="loader-container">
			loading
		</div>
	</div>
	<script src="/js/check.js"></script>
	<script src="/js/create_table.js"></script>
	<script src="/js/index.js"></script>
</body>

</html>