<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
	<title>
		Unavaliable | Homework Master
	</title>
</head>

<body>
	<div class="header">
		<h1>Unavaliable</h1>
	</div>
	<div class="content">
		<div class="post">
			You cannot see this page because you do not have access to this group, or it does not exist.
			<a href="/login?redirect=<%= redirect || '/'%>">Login here</a>
			<a href="/">Home</a>
		</div>
	</div>
	<% include ../partials/menu %>
	<script src="/js/index.js"></script>
</body>

</html>