<!DOCTYPE html>
<html>

<% title = 'Unavaliable'%>
<% include ../partials/head %>

<body>
	<div class="header">
		<h1>Unavaliable</h1>
	</div>
	<div class="content">
		<div class="post">
			<div class="title">
				<% if (message) { %>
					<p><%= message%></p>
				<% } else { %>
					You either do not have access to this page, or it does not exist.
				<% } %>
			</div>
			<div class="message">
				<a href="/login?redirect=<%= redirect || '/'%>">Login here</a>
				<br>
				<a href="/">Home</a>
			</div>
		</div>
	</div>
	<% include ../partials/menu %>
	<script src="/js/index.js"></script>
</body>

</html>