<form method="post" id="login">
	<div class="error" style="grid-column: 1/-1;"></div> <label for="guild">Discord Server:</label>
	<select name="guild" id="guild">
		<% bot.guilds.forEach(guild => {%>
		<option value="<%= guild.id %>">
			<%= guild.name %>
		</option>
		<% }) %>
	</select>
	<label for="name">
		Name:
	</label>
	<input type="text" name="name" id="name">
	<label for="password">
		Password:
	</label>
	<input type="password" name="password" id="password">
	<br>
	<input type="submit" value="OK">
</form>