<form method="post" id="signup">
	<label for="nickname">Your Name: </label>
	<input type="text" name="nickname" id="nickname" placeholder="<%= query.name %>">

	<label for="newpassword">New Password:
		<span class="error"></span>
	</label>
	<input type="password" name="newpassword" id="newpassword" onchange="check('newpassword')" placeholder="make it secure!">

	<label for="checkPassword">Check Password:
		<span class="error"></span>
	</label>
	<input type="password" name="checkPassword" id="checkPassword" onchange="check('checkPassword')">
	<input type="hidden" name="guild" value="<%= guild%>">
	<input type="hidden" name="member" value="<%= member%>">
	<input type="hidden" name="password" id="password" value="<%= query.password%>" placeholder="(sent by the bot in DM)">
	<br>
	<input type="button" value="OK" onclick="signup('signup')">
</form>